source https://nuget.org/api/v2

clitool dotnet-fable

nuget FSharp.Core
nuget Fable.Core
nuget Fable.PowerPack
nuget Fable.React
nuget Fable.Import.Browser

github fable-compiler/fable-graphics bindings/fable-import-d3/Fable.Import.D3.fs