source https://nuget.org/api/v2
storage:none

clitool dotnet-fable prerelease
nuget Fable.Core prerelease
nuget Fable.PowerPack prerelease
nuget Fable.React prerelease
nuget Fable.Import.Browser
nuget Fable.Import.Node
nuget Fulma prerelease

github fable-compiler/fable-graphics bindings/fable-import-d3/Fable.Import.D3.fs

group Build
  source https://nuget.org/api/v2
  nuget FAKE