<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{root}}/css/bulma.custom.css">
  <link rel="shortcut icon" href="{{root}}/img/fable.ico" />
  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
</head>

<body>
  {{{ navbar }}}
  <div class="content" style="margin: 10px">
    <h1>Fable Samples</h1>
    <h2>Fun and Games</h2>
    <ul id="games-list"></ul>
    <h2>Productivity</h2>
    <ul id="productivity-list"></ul>
    <h2>Visualizations</h2>
    <ul id="visual-list"></ul>
  </div>
  <script src="lib/json5.js"></script>
  <script>
    fetch('samples.json5')
      .then(function (response) {
        return response.text();
      })
      .then(function (json) {
        var samplesJson = JSON5.parse(json);
        ["games", "productivity", "visual"].forEach(function (category) {
          var el = document.getElementById(category + "-list");
          for (var key in samplesJson[category]) {
            var node = document.createElement("li");
            var link = document.createElement("a");
            link.setAttribute("href", key);
            link.appendChild(document.createTextNode(samplesJson[category][key].title));
            node.appendChild(link);
            el.appendChild(node);
          }
        });
      });
  </script>
  <script>
    // Activate navbar burget button
    document.addEventListener('DOMContentLoaded', function () {
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>

</html>